body {
  --mainColor: #7289da;
  --secondaryColor: #99aab5;
  --textColor: #ffffff;
  --backgroundColor: #23272a;
  --terciaryColor: #2c2f33;
  --successColor: #43b581;
  --errorColor: #f04747;

  font-family: sans-serif;
  color: var(--textColor);
  background-color: var(--backgroundColor);
  box-sizing: border-box;
}
